project_path: . # relative to this file . indicates the same directory
docker_compose: docker-compose.yaml
gitmodules: .gitmodules
project_name: tools
project_version:
  major: 0
  minor: 1
  patch: 0
